@charset "UTF-8";

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*body*/
*{
    margin: 0px;
    padding: 0px;
}

html body{
    min-width: 100vh;
    background: white url(pacote/imagens/background002.jpg) no-repeat bottom center fixed;
    background-size: cosection;
    background: white url(pacote/imagens/background001.jpg) no-repeat top center fixed;
    background-size: cover;
}
/*Header*/
header{
    background-color: black;
    color: whitesmoke;
    height: 150px;
    padding: 30px 0px;
}

Header > h1{
    width:fit-content;
    margin: auto;
    margin-top:30px;
    font-family: 'Passion One','Times New Roman', Times, serif;
    font-size: 4em;
    font-variant: small-caps;
    
}

Header > p{
    margin:auto;
    width:fit-content
}
/*Links*/
a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    text-decoration: underline;
}
/*Contéudo principal*/
Main{
    font-family:'Sriracha', 'Courier New', Courier, monospace;
    font-size: 2vw;
}


section{
    padding: 10vh 30px;
    line-height: 2em;
}

section.fundo-branco{
    background-color: whitesmoke;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.264)
}

section.fundo-imagem{
    background-color: transparent;
    color: whitesmoke;
}

section.fundo-imagem > p{
    background-color: rgba(128, 128, 128, 0.212);
    width: fit-content;
    padding: 5px;
}
/*Rodapé*/
footer{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    font-weight: 400;
}
